absl-py==2.1.0
aom==3.9.0
astunparse==1.6.3
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
brotli-python==1.1.0
bzip2==1.0.8
c-ares==1.28.1
ca-certificates==2024.2.2
cairo==1.18.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.21.2
cvlib==0.2.6
dav1d==1.2.1
decorator==4.4.2
deepface==0.0.91
dlib==19.24.4
docutils==0.21.2
expat==2.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
ffmpeg==7.0.0
filelock==3.14.0
fire==0.6.0
Flask==3.0.3
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3.000
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.14.2
fonts-conda-ecosystem==1
fonts-conda-forge==1
freetype==2.12.1
fribidi==1.0.10
gast==0.5.4
gdown==5.1.0
gettext==0.22.5
gettext-tools==0.22.5
gmp==6.3.0
gnutls==3.7.9
google-pasta==0.2.0
graphite2==1.3.13
grpcio==1.63.0
gunicorn==22.0.0
h11==0.14.0
h5py==3.11.0
harfbuzz==8.4.0
icu==73.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.3.3
Kivy==2.3.0
Kivy-Garden==0.1.5
krb5==1.21.2
lame==3.100
libabseil==20240116.2
libasprintf==0.22.5
libasprintf-devel==0.22.5
libass==0.17.1
libclang==18.1.1
libcurl==8.7.1
libcxx==17.0.6
libedit==3.1.20191231
libev==4.33
libexpat==2.6.2
libffi==3.4.2
libgettextpo==0.22.5
libgettextpo-devel==0.22.5
libglib==2.80.2
libhwloc==2.10.0
libiconv==1.17
libidn2==2.3.7
libintl==0.22.5
libintl-devel==0.22.5
libnghttp2==1.58.0
libopenvino==2024.1.0
libopenvino-arm-cpu-plugin==2024.1.0
libopenvino-auto-batch-plugin==2024.1.0
libopenvino-auto-plugin==2024.1.0
libopenvino-hetero-plugin==2024.1.0
libopenvino-ir-frontend==2024.1.0
libopenvino-onnx-frontend==2024.1.0
libopenvino-paddle-frontend==2024.1.0
libopenvino-pytorch-frontend==2024.1.0
libopenvino-tensorflow-frontend==2024.1.0
libopenvino-tensorflow-lite-frontend==2024.1.0
libopus==1.3.1
libpng==1.6.43
libprotobuf==4.25.3
libsqlite==3.45.3
libssh2==1.11.0
libtasn1==4.19.0
libunistring==0.9.10
libuv==1.48.0
libvpx==1.14.0
libxml2==2.12.6
libzlib==1.2.13
markdown==3.6
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
moviepy==1.0.3
mtcnn==0.1.1
namex==0.0.8
ncurses==6.4.20240210
nettle==3.9.1
numpy==1.26.4
opencv-python==4.9.0.80
openh264==2.4.1
openssl==3.3.0
opt-einsum==3.3.0
optree==0.11.0
p11-kit==0.24.1
packaging==24.0
pandas==2.2.2
pcre2==10.43
pillow==10.3.0
pip==24.0
pixman==0.43.4
proglog==0.1.10
progressbar==2.5
protobuf==4.25.3
pugixml==1.14
pycparser==2.22
pygments==2.18.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
python_abi==3.12
pytz==2024.1
readline==8.2
requests==2.31.0
retina-face==0.0.17
rhash==1.4.3
rich==13.7.1
scipy==1.13.0
setuptools==57.0.0
simple-websocket==1.0.0
six==1.16.0
snappy==1.2.0
sounddevice==0.4.6
soupsieve==2.5
svt-av1==2.0.0
tbb==2021.12.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
tk==8.6.13
tqdm==4.66.4
typing-extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
x264==1!164.3095
x265==3.5
xz==5.2.6
zlib==1.2.13
zstd==1.5.6
